In [37]:
import pandas as pd
import numpy as np

In [38]:
#importing the data
data = pd.read_csv("/Users/abhinavkunta/Desktop/cluster-analysis-data-v1.csv")

In [39]:
data.head()

,obs,customer,I tend to plan things very carefully,I sometimes have trouble controlling my spending,I think it is important to purchase products that are made locally,I carefully consider the health benefits of what I eat,segment
0,2,0,1,2,3,2,1
1,3,0,1,3,3,2,1
2,4,0,2,4,3,2,2
3,5,0,2,4,1,2,5
4,10,0,2,4,2,3,2

In [40]:
#dropping the unnecessary columns
df = data.drop(['obs','customer','segment'],axis=1)

In [41]:
df.head()

,I tend to plan things very carefully,I sometimes have trouble controlling my spending,I think it is important to purchase products that are made locally,I carefully consider the health benefits of what I eat
0,1,2,3,2
1,1,3,3,2
2,2,4,3,2
3,2,4,1,2
4,2,4,2,3

In [42]:
#applying the clustering technique
from sklearn.cluster import KMeans

In [43]:
km = KMeans(n_clusters = 5, random_state=90)

In [44]:
# fit the data into the code
km.fit(df)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=5, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=90, tol=0.0001, verbose=0)

In [45]:
# finding the centroids
km.cluster_centers_

array([[2.30327869, 2.47540984, 1.77868852, 1.77868852],
       [2.27272727, 4.        , 1.84848485, 1.75757576],
       [1.        , 3.6547619 , 1.8452381 , 1.48809524],
       [1.27272727, 1.68181818, 1.62121212, 1.40909091],
       [2.12280702, 2.61403509, 2.57894737, 2.94736842]])

In [50]:
#prediction of the new column called segment
labels = KMeans.predict(X)

NameError: name 'X' is not defined