## SET OPERATIONS

In [ ]:
## Add Operation ---This function adds an elment to the set which is not present in the set.

In [3]:
my_set = {1,2,3,4,5,6,7,8}

In [4]:
type(my_set)

set

In [5]:
my_set2 = {'a','b'}

In [7]:
type(my_set2)

set

In [11]:
my_set2.add('a')

In [12]:
my_set2

{'a', 'b', 'c'}

In [13]:
my_set2.add('b')

In [14]:
my_set2

{'a', 'b', 'c'}

In [15]:
my_set2.add('efg')

In [16]:
my_set2

{'a', 'b', 'c', 'efg'}

In [17]:
## clear Function --- This function emptys the set with deleting all the elements in the set.

In [23]:
print(my_set2)

{'a', 'c', 'b', 'efg'}

In [24]:
my_set2.clear()

In [26]:
print(my_set2)

set()

In [27]:
## copy Function---copies all the elements into another set.

In [28]:
my_set = {1,2,3,4,5}

In [30]:
my_set2 = my_set.copy()

In [31]:
my_set2

{1, 2, 3, 4, 5}

In [32]:
## Difference Function

In [33]:
a = {1,2,3,4}
b = {2,3,4,5}

In [36]:
# a - b

A = a.difference(b)
print(A)

{1}

In [37]:
# b - a

B = b.difference(a)
print(B)

{5}

In [ ]:
 ##Difference Update---Here, A and B are two sets. The difference_update() updates set A with the set difference of A-B.

In [38]:
a.difference_update(b)
print(a)

{1}

In [39]:
b.difference_update(a)
print(b)

{2, 3, 4, 5}

In [ ]:
##Discard Function---The discard() method takes a single element x and removes it from the set (if present).

In [40]:
set = {1,2,3,4}
set.discard(1)
print(set)

{2, 3, 4}

In [ ]:
## Intersection ---The intersection of two or more sets is the set of elements which are common to all sets.

In [41]:
A = {2, 3, 5, 4}
B = {2, 5, 100}
C = {2, 3, 8, 9, 10}

print(B.intersection(A))
print(B.intersection(C))
print(A.intersection(C))
print(C.intersection(A, B))

{2, 5}
{2}
{2, 3}
{2}

In [ ]:
##Intersection Update

In [42]:
A = {2, 3, 5, 4}
B = {2, 5, 100}
C = {2, 3, 8, 9, 10}
print(A.intersection_update(B))

None

In [43]:
A

{2, 5}

In [44]:
## In this case the result will be none and the A will be updated as intersection of A & B

In [ ]:
## IsDisjoint-- both sets are disjoint sets if and only if they have no elements in common.

In [45]:
A = {'a', 'b', 'c', 'd'}
B = ['b', 'e', 'f']
print('Are A and B disjoint?', A.isdisjoint(B))

Are A and B disjoint? False

In [ ]:
## IsSubset--Any set is subset of another set if it has all the elements in it.

In [46]:
A = {1, 2, 3}
B = {1, 2, 3, 4, 5}
print(A.issubset(B))

True

In [ ]:
## issuperset

In [47]:
A = {1, 2, 3}
B = {1, 2, 3, 4, 5}
print(B.issuperset(A))

True

In [48]:
## Pop

In [49]:
A = {1,2,3}
A.pop()

1

In [50]:
print(A)

{2, 3}

In [52]:
## Remove -- Removes a particulat element form a set.

In [53]:
set = {1,2,3,4,56,78}

In [54]:
set.remove(2)

In [55]:
set

{1, 3, 4, 56, 78}

In [56]:
##  Symmetric_difference---symmetric difference is the elements which are not common in both of the sets.

In [57]:
A = {1, 2, 3}
B = {1, 2, 3, 4, 5}
print(A.symmetric_difference(B))

{4, 5}

In [58]:
##symmetric_difference_update---

In [59]:
A = {'a', 'c', 'd'}
B = {'c', 'd', 'e' }
print(A.symmetric_difference_update(B))

None

In [60]:
print(A)

{'a', 'e'}

In [ ]:
## Union ---Union is adding of elements in two or more sets its just like concatenation but it doesn't allow duplicates

In [61]:
A = {'a', 'c', 'd'}
B = {'c', 'd', 'e' }
print(A.union(B))

{'a', 'd', 'c', 'e'}